header{
    


    nav{
        display: flex;
        justify-content: center; 
        padding: 4%;

        a{
            font-size: 1.5rem;
            text-decoration: none;
            padding: .2%;
            white-space: nowrap;
        }

        

    }


}

.title-container{
    background-image: url("../assets/home.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 40rem;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    
    div{
        align-self: center;
        font-size: 8rem;
        color: white;
        text-align: center;
        width: 50rem;
        
        

    }   
    
    .btn{
        align-self: center;
        font-size: 1.75rem;
        padding-right:4%;
        padding-left: 4%;
        padding-top: .5%;
        padding-bottom: .5%;
        margin-top: 2%;
        border: lightgray;
        border-radius: 5%;
        
    }

}


