header{
    


    nav{
        display: flex;
        justify-content: center; 
        padding: 4%;

        a{
            font-size: 1.5rem;
            text-decoration: none;
            padding: .2%;
            white-space: nowrap;
        }

        

    }


}

.title-container{
    position: relative;
    text-align: center;

    img{
       width: 90%;
       height: auto;
        
    }
    
    div{
        position: absolute;
        top: 20%;
        bottom: 60%;
        margin-left:50%;
        margin-right: 50%;

    }    


    .btn{
        position: absolute;
        top: 60%;
        bottom: 20%;
        margin-right:50%;
        
    }
}